DATABASE_URL=mysql+pymysql://USER:PASSWORD@HOST:3306/db_auth
JWT_SECRET=cambia-esta-clave-secreta-larga-y-aleatoria
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=1440
DASHBOARD_SERVICE_URL=http://dashboard_service:8002
NOTIFICATIONS_SERVICE_URL=http://notifications_service:8004
