DATABASE_URL=mysql+pymysql://USER:PASSWORD@HOST:3306/db_search
NOTIFICATIONS_SERVICE_URL=http://notifications_service:8004
DASHBOARD_SERVICE_URL=http://dashboard_service:8002
QR_SECRET=clave-secreta-para-qr
JWT_SECRET=misma-clave-que-auth-service
JWT_ALGORITHM=HS256
CERT_SECRET=clave-secreta-para-certificados-min-32-chars
CERT_PUBLIC_URL=https://tu-dominio.com
